* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   width: 100vw;
   height: 100vh;
   background-color: #333333ff;
   justify-content: center;
   align-items: center;

}

.grid-container {
   position: relative;
   width: 640px;
   height: 640px;
   display: grid;
   grid-template-columns: 300px 300px;
   grid-template-rows: 300px 300px;
   gap: 40px;
   justify-content: space-between;

   background-color: #3a630d;
}

.item {
   background-color: #add901;
   display: grid;
   place-items: end;
}

.item span {
   display: block;
   width: 100px;
   height: 160px;
   background-color: #5fa61c;
}

.item-center {
   position: absolute;
   width: 40px;
   height: 40px;
   background-color: #1f3206;
   top: calc(50% - 20px);
   left: calc(50% - 20px);
}